

/* Universal */

*{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body{
  margin: 0px
}

/* Input */


.input{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 16px;
  color: #000;
  border: 1px solid #AAA;
  border-radius: 3px;
  outline-color: #AAA;
  outline-width: 2px;
}

::placeholder { /* Most modern browsers support this now. */
  color: #aebacabb;
}

/* Display */

.center-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

/* Width */

.width{
  width: 100%;
}

.height{
  height: 100%;
}

/* Card */

.card{
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 2px 2px 0 black;
  background-color: white;
}

/* Buttons */

.text_button{
  border-radius: 0px;
  padding: 0px;
  font-size: 16px;
  text-decoration: underline;
  text-align: center;
  display: inline-block;
  border: 0px;
  background-color: white;
  cursor: pointer;
}

.button{
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 2px 2px 0 black;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background-color: white;
  cursor: pointer;
}

.orange_button{
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 2px 2px 0 black;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background-color: #F4793E;
  cursor: pointer;
}

button:hover{
  filter: brightness(0.95);
}

button:active{
  filter: brightness(0.9);
}

.shift_button:active{
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0 rgba(0, 0, 0, 0);
}

/* Paddings */

.small-padding{
  padding: 6px;
  box-sizing: border-box
}

.padding{
  padding: 12px;
  box-sizing: border-box
}

.large-padding{
  padding: 24px;
  box-sizing: border-box
}

.vlarge-padding{
  padding: 32px;
  box-sizing: border-box
}

/* Gaps */

.small-hgap{
  height: 100%;
  width: 6px;
  min-width: 6px;
}

.hgap{
  height: 100%;
  width: 12px;
  min-width: 12px;
}

.large-hgap{
  height: 100%;
  width: 24px;
  min-width: 24px;
}

.vlarge-hgap{
  height: 100%;
  width: 32px;
  min-width: 32px;
}

.small-vgap{
  width: 100%;
  height: 6px;
  min-height: 6px;
}

.vgap{
  width: 100%;
  height: 12px;
  min-height: 12px;
}

.large-vgap{
  width: 100%;
  height: 24px;
  min-height: 12px;
}

.vlarge-vgap{
  width: 100%;
  height: 32px;
  min-height: 32px;
}

/* Separator */

.vseparator{
  height: 100%;
  width: 1px;
  background-color: black;
}

.hseparator{
  width: 100%;
  height: 1px;
  background-color: black;
}

/* Text */

.small-text{
  font-size: 12px;
  color: #aaa;
}

.text{
  font-size: 16px;
  color: black;
}

.orange-text{
  font-size: 16px;
  color: #F4793E;
}

.large-text{
  font-size: 24px;
  color: black;
}

/* Bold */

.bold{
  font-weight: bold;
}

/* Color */

.gray{
  background-color: #ccc;
}
