<div *ngIf="loading" class="width center-column gray" style="height: 100vh">
  <div class="bold text">Loading...</div>
</div>
<div *ngIf="!loading" class="width gray column" style="height: 100vh">
  <div
    class="large-padding width row center"
    style="height: fit-content; background-color: white"
  >
    <button
      class="shift_button button center-row"
      style="aspect-ratio: 1 / 1"
      (click)="backToMenu()"
    >
      <fa-icon class="ico fa-lg shift_button" [icon]="back_icon"></fa-icon>
    </button>
    <div class="hgap"></div>
    <div class="column">
      <div class="large-text bold height" style="align-items: center">
        {{ name }}
      </div>
      <div class="small-vgap"></div>
      <div class="small-text">Created: {{ date }} - Status: {{ status }}</div>
    </div>
  </div>
  <div class="lim_height hseparator"></div>
  <div class="row width large-padding" style="height: calc(100% - 97.5px)">
    <div class="lim_height height" style="width: fit-content">
      <button
        class="button center-row shift_button"
        style="aspect-ratio: 1 / 1"
        (click)="changeType(1)"
      >
        <fa-icon class="icon fa-lg" [icon]="icon_1"></fa-icon>
      </button>
      <div class="vgap"></div>
      <button
        class="button center-row shift_button"
        style="aspect-ratio: 1 / 1"
      >
        <fa-icon class="icon fa-lg" [icon]="icon_1"></fa-icon>
      </button>
    </div>
    <div class="lim_height hgap"></div>
    <div
      class="lim_height card height"
      style="min-width: 400px; width: 400px; overflow: auto; "
    >
      <div
        cdkDropList
        [cdkDropListData]="component_list"
        #component_lists="cdkDropList"
        [cdkDropListConnectedTo]="[component_placer]"
        class="drag-list"
      >
        <div class="vgap"></div>
        <div class="padding large-text">{{category_names[category_id]}}</div>
        <div class="drag-box padding column" *ngFor="let item of component_list" cdkDrag>
          <div class="width gray" style="height: 150px">
            <div *ngFor="let box of item.minimap" [style.left.px]="box[0]" [style.top.px]="box[1]" [style.width.px]="box[2]" [style.height.px]="box[3]" [style.margin-bottom.px]="-box[3]" style="position: relative; background-color: #aaa;">
            </div>
          </div>
          <div class="small-vgap"></div>
          <div class="text" style="color: #888">{{ item.name }}</div>
        </div>
      </div>
    </div>
    <div class="lim_height hgap"></div>
    <div class="lim_height card height" style="width: 100%; overflow: auto;">
      <div cdkDropList
      #component_placer="cdkDropList"
      [cdkDropListData]="html_components"
      [cdkDropListConnectedTo]="[component_lists]"
      (cdkDropListDropped)="drop($event)"
      class="drag-list" style="min-height: 100%;">
        <div class="drag-box" style="cursor: pointer; border-bottom: solid 0px #ccc; " *ngFor="let block of html_components" [innerHTML]="block" cdkDrag>
        </div>
      </div>
    </div>
  </div>
</div>
